{% extends 'base.html.twig' %}

{% block title %}Voice b2B Feasibility{% endblock %}

{% block body %}
    <h1>Nuova fattibilità voce B2B</h1>

    {{ include('feasibility_b2b/_form.html.twig') }}

{% endblock %}