{% extends 'base.html.twig' %}

{% block title %}Fattibilità voce{% endblock %}


{% block body %}
    <h1>Nuova fattibilità voce</h1>

    {{ include('feasibility_b2b/_form.html.twig') }}
    <p id="scriptlog">Script log</p>

{% endblock %}

{% block javascripts %}
    <script>
        var type = document.getElementById("feasibility_b2_b_Type");
        console.log("script loaded");

        type.onchange = function(){
            console.log("type.change");
            if(type.value == 'wholesale'){
                document.getElementById("feasibility_b2_b_MobilePercentage").style.display = 'inline';
            } else {
                document.getElementById("feasibility_b2_b_MobilePercentage").style.display = 'none';
            }
        };
    </script>
{% endblock %}

