{% extends 'base.html.twig' %}

{% block title %}Fattibilità voce{% endblock %}

{% block body %}
    <h1>Nuova fattibilità voce</h1>

    {{ include('feasibility_b2b/_form.html.twig') }}

{% endblock %}