{% extends 'base.html.twig' %}

{% block title %}New FeasibilityB2B{% endblock %}

{% block body %}
    <h1>Create new FeasibilityB2B</h1>

    {{ include('feasibility_b2b/_form.html.twig') }}

    <a href="{{ path('feasibility_b2b_index') }}">back to list</a>
{% endblock %}