{% extends 'base.html.twig' %}

{% block title %}Voice b2B Feasibility{% endblock %}

{% block javascripts %}
<script>
    var $type = $('#feasibility_b2_b_Type');
    console.log("script loaded");
    // When Type gets selected ...
    $type.change(function() {
        // ... retrieve the corresponding form.
        console.log("type.change");
        var $form = $(this).closest('form');
        if($type.val() == 'wholesale'){
            document.getElementById("scriptlog").innerHTML = "Type == wholesale";
        } else {
            document.getElementById("scriptlog").innerHTML = "Type != wholesale";
        }
    });
</script>
{% endblock %}


{% block body %}
    <h1>Nuova fattibilità voce B2B</h1>

    {{ include('feasibility_b2b/_form.html.twig') }}
    <p id="scriptlog">Script log</p>
{% endblock %}


