{% extends 'base.html.twig' %}

{% block title %}Fattibilità voce{% endblock %}


{% block body %}
<div class="container">
    <h1>Nuova fattibilità voce</h1>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Attenzione!</strong> Rimangono validi tutti i vincoli tecnologici imposti da Ingegneria. Questo form è valido 
                                    esclusivamente per una valutazione delle risorse a disposizione e non riporta tutti i dettagli 
                                    necessari per una fattibilità tecnica da inoltrare ad Ingegneria
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{ include('feasibility_b2b/_form.html.twig') }}
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var type = document.getElementById("feasibility_b2_b_Type");
        type.onchange = function(){
            if(type.value == 'wholesale'){
                document.getElementById("feasibility_b2_b_MobilePercentage").style.display = 'inline';
            } else {
                document.getElementById("feasibility_b2_b_MobilePercentage").style.display = 'none';
            }
        };
    </script>
{% endblock %}

