{% extends 'base.html.twig' %}

{% block title %}Edit NetworkElement{% endblock %}

{% block body %}
    <h1>Edit NetworkElement</h1>

    {{ include('network_element/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}