{# templates/network_element/graph_table.html.twig #}

<div class="container mt-4">
{% if elements %}
{% for element in elements %}
<div class="row mt-5" style="height: 460px">                
        <div class="col mt-5">
                <div class="card">
                        <div class="card-header">
                                <div class="d-flex justify-content-between">
                                        <small>Date: {{ element.getLastStatisticDate }}</small>
                                        <a class="btn btn-secondary btn-sm" href="{{ path('network_element_upload_csv', {'id': element.id}) }}">update</a>
                                </div>
                        </div>
                        <div class="card-body" id="chart_basic_{{element.id}}"></div>                                
                </div>
        </div>
</div>
{% endfor %}
{% else %}
<div class="row" style="height: 400px">                
        <div class="col">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Mi dispiace!</strong> Non ci sono Network Elements abilitati per la dashboard.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
                </div>
        </div>
</div>
{% endif %}
</div>
