{% extends 'base.html.twig' %}

{% block title %}Edit StatisticaRete{% endblock %}

{% block body %}
    <h1>Edit StatisticaRete</h1>

    {{ include('statistica_rete/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}