{% extends 'base.html.twig' %}

{% block title %}New StatisticaRete{% endblock %}

{% block body %}
    <h1>Create new StatisticaRete</h1>
    {{ include('statistica_rete/_form.html.twig') }}
{% endblock %}