{% extends 'base.html.twig' %}

{% block title %}TrafficReportg
raph{% endblock %}

{% block body %}

    <h3>Traffic Flows Graph</h3>
 
    <!--Div that will hold the line chart-->
    <div id="chart_div"></div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/charts/loader.js"></script>

    <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawLineColors);

    function drawLineColors() {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Time');
        {% for router in routers %}
        data.addColumn('number', '{{router}}');
        {% endfor %}

        data.addRows([
               {% for i in 0..rowsNumber-1 %}{% if i!=0 %},{% endif %}[{% for j in 0..columnsNumber %}
               {% if j == 0 %}
               new Date({{ graphValues[i][j]|date_modify("-1 month")|date('Y,m,d,H,i,s','Europe/Rome') }},0 ){% else %},{{ graphValues[i][j] }}{% endif %}{% endfor %}]
                {% endfor %}
        ]);

        var options = {
            hAxis: {
                title: 'Time',
                format: 'd/MMM/y-h:m'
            },
            vAxis: {
            title: 'Mbps'
            },
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        }
    </script>
{% endblock %}
