{% extends 'base.html.twig' %}

{% block title %}New Rgn Cli Mapping{% endblock %}

{% block body %}
    <h1>Map Cli list to Tiscali Rgn</h1>

    {{ include('rgnHandler/_form.html.twig') }}

{% endblock %}