{% extends 'base.html.twig' %}

{% block title %}NetworkElementsType index{% endblock %}

{% block body %}
    <h1>NetworkElementsType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for network_elements_type in network_elements_types %}
            <tr>
                <td>{{ network_elements_type.id }}</td>
                <td>{{ network_elements_type.name }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('network_elements_type_show', {'id': network_elements_type.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary btn-lg" href="{{ path('network_elements_type_new') }}">New</a>
    {% endif %}
{% endblock %}